<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Données personnelles</h4>
    </div>
    <div class="modal-body">
Les informations demandées, signalées par un astérisque, sont obligatoires. Elles sont nécessaires au traitement de vos demandes. En cas de non réponse, Chomette ne pourra y répondre.
<br>
Les autres informations sont destinées à mieux vous connaître et sont, par conséquent, facultatives. Vous êtes libre de ne pas y répondre.
<br>
Ces informations sont destinées à Chomette, responsable du traitement, aux fins d’enregistrement et de traitement de vos commandes et de gestion de votre compte client.
<br>
Chomette vous adressera ses offres commerciales par mail, téléphone si vous l’avez accepté et par voie postale, si vous ne vous y êtes pas opposé lors du recueil de vos données. A tout moment, vous gardez la possibilité de vous opposer sans frais à la prospection commerciale de Chomette, en vous connectant sur le site dans votre espace client (rubrique « Gérer mes abonnements newsletter ») , ou en envoyant un courrier à Chomette – Service Relations Clientèle – 1, rue René Clair – BP 1 - 91355 GRIGNY CEDEX.
<br>
Sauf opposition de votre part lors du recueil de vos données, les informations vous concernant pourront être communiquées aux partenaires commerciaux de Chomette, qui pourront vous envoyer leurs offres commerciales par courrier.
<br>
Les informations recueillies pourront éventuellement être communiquées à des tiers liés à Chomette par contrat pour l’exécution de tâches sous-traitées nécessaires à la gestion de votre compte, de vos commandes et paiements.
<br>
Dans le cadre du suivi de la qualité et de la formation de notre service clients, certains appels téléphoniques peuvent être enregistrés.
<br>
Conformément à la Loi Informatique et Libertés du 06/01/1978, le traitement des données à caractère personnel (nom, prénom, adresse,…) collectées à l'occasion de l'inscription d'un utilisateur sur le site ou de l'ouverture d'un compte personnel a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro de récépissé 1389911. Vous disposez d’un droit d’accès, de rectification et de suppression des données vous concernant et d’opposition à leur traitement. Si vous souhaitez l’exercer, vous pouvez écrire à Chomette – Equipe Web – 1, rue René Clair – BP 1 - 91355 GRIGNY CEDEX ou par mail à information@chomette.com en indiquant vos nom, prénom, adresse, email et si possible référence client afin d’accélérer la prise en compte de votre demande.
<br>
Vous pouvez à tout moment avoir accès et changer les informations concernant vos coordonnées dans votre espace client à la rubrique « Mon compte » et gérer vos newsletters à la rubrique « Gérer mes abonnements newsletters ».
<br>
Lors de votre visite sur notre site, nous souhaitons implanter un cookie dans votre ordinateur. Un cookie ne nous permet pas de vous identifier ; en revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et heure de consultation etc…) que nous pourrons lire lors de vos visites ultérieures. Nous vous informons que vous pouvez vous opposer à l’enregistrement de cookies en configurant votre navigateur à partir du menu « outils » et « options ».
<br>
Nous pouvons être amenés à utiliser vos données de navigation par le biais de cookies gérés par un partenaire. Les données utilisées sont strictement anonymes et font l’objet d’un traitement purement statistique. Ainsi vous pourrez voir s’afficher des bannières personnalisées. Si vous ne souhaitez plus voir ce type de bannières apparaître et/ou obtenir davantage d’informations sur ce procédé, il suffit de vous rendre à l’adresse suivante :
http://www.criteo.com/fr/politique-de-confidentialite
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
    </div>
</div> 